@media screen and (min-width: 1011px)
{
	#slideshow
	{
		height: 310px !important;
	}
	.points
	{
		position: relative !important;
		left: 30% !important;
	}
	#points3
	{
		position: relative !important;
		left: 12% !important;
	}
}

@media screen and (min-width: 980px) and (max-width: 1011px)
{
	#slideshow
	{
		height: 330px !important;
	}	
	.points
	{
		position: relative !important;
		left: 30% !important;
	}
	#points3
	{
		position: relative !important;
		left: 12% !important;
	}
}

@media screen and (mix-width: 767px) and (max-width: 980px)
{
	#slideshow
	{
		height: 160px !important;
	}
	.points
	{
		position: relative !important;
		left: 0% !important;
	}
}
@media screen and (min-width: 501px) and (max-width: 767px)
{
	#slideshow
	{
		height: 460px !important;
	}
	.points
	{
		position: relative !important;
		left: 0% !important;
	}
}
@media screen and (min-width: 469px) and (max-width: 501px)
{
	#slideshow
	{
		height: 490px !important;
	}
	.points
	{
		position: relative !important;
		left: 0% !important;
	}
}
@media screen and (min-width: 363px) and (max-width: 469px)
{
	#slideshow
	{
		height: 520px !important;
	}
	.points
	{
		position: relative !important;
		left: 0% !important;
	}
}
@media screen and (max-width: 363px)
{
	#slideshow
	{
		height: 540px !important;
	}
	.points
	{
		position: relative !important;
		left: 0% !important;
	}
}